.main_slide{
  width: 100%;
  height: 36em;


}

.fr_parent{

  width: 60%;
  height: 2%;
  margin-left: 22%;
  margin-top: 5%;
}

.fr_im{
  width: 100%;
  height: 100%;
  background: url('../../img/ads.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

$app_color:#3880ff;

.myiconst{
  font-size: 40px;
  margin-top: 7px;
  color:$app_color;
}

.mytext{
  font-size: 1em;
  font-weight: 500;
}

.newlist{
  background-color:white !important;
  margin-top:0.5%;
}


.list-md{
  background: none !important;
}

.mybtnn{
  width: 70%;
  margin-left: 3%;
  margin-top: 0.5%;
}
