ion-content{
  --background: linear-gradient(to right, #e6efff 0%, #b3cfff 100%);
}

.mlist{
  border-radius:10px;
}
.mt{
  margin-top:40%;
}
.selecttext{
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;

}
