<ion-app>
  <ion-split-pane>
    <ion-menu side="start" menuId="first">

      <ion-content class="menu-background">

        <ion-grid>
          <ion-row>
            <ion-col size="3">

                <img src="assets/icon/logo.png" alt="">

            </ion-col>
            <ion-col size="6">
                  <img style="margin-top:25px;" class="circle" src="assets/icon/defaultava.png">
          </ion-col>
            <ion-col size="3"></ion-col>

          </ion-row>
          <ion-row>

            <ion-col size="12">
                  <h4  class="userName" text-center>Sunny Yoall</h4>
                  <p  class="usern" text-center><b></b></p>
                  <!-- <p  text-center>Settings</p> -->
            </ion-col>

          </ion-row>

        </ion-grid>

        <ion-list *ngIf="language" class="menu-background">

            <ion-item  class="menu-background">
              <ion-label><ion-button (click)="autoClose()" routerLink="/add-first-action" >{{language.create}}</ion-button></ion-label>
            </ion-item>

            <ion-item class="logininput menu-background">
              <ion-label>
                    <ion-button (click)="triggerComponent()" >{{language.registration}}</ion-button>
              </ion-label>
              <i class="menu-size material-icons" slot="end">
                supervised_user_circle
                </i>
            </ion-item>
            <ion-item class="menu-background">
              <ion-label><ion-button (click)="autoClose()" routerLink="/contacts" >{{language.Messages}}</ion-button></ion-label>
            </ion-item>
            <ion-item class="menu-background">
              <ion-label><ion-button (click)="autoClose()" routerLink="/favorite" >{{language.Favorite}}</ion-button></ion-label>
            </ion-item>
            <ion-item class="menu-background">
              <ion-label><ion-button (click)="autoClose()" routerLink="/myrequest" >{{language.myrequest}}</ion-button></ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-label>Личный кабинет</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Обратная связь</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Оставить отзыв</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Предложить друзьям</ion-label>
            </ion-item> -->

        </ion-list>

      </ion-content>
    </ion-menu>


    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
