
<ion-content *ngIf="language">


<div class="main_cl">

<div class="selectrole">{{language.role}}</div>

<div class="upbutton">
  <ion-button (click)="Find()" expand="block">{{language.find}}</ion-button>
</div>

<div class="upbutton2">
  <ion-button (click)="Get()" expand="block">{{language.getway}}</ion-button>
</div>



</div>






<!-- <ion-button (click)="dismiss()">close Modal</ion-button> -->

</ion-content>
