ion-content{
  --background: linear-gradient(to right, #e6efff 0%, #b3cfff 100%);
}

.main_cl{
  width: 100%;
  height: 100%;
}
.selectrole{
  width: 70%;
  height: 7%;
  padding-top: 3%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 15%;
  margin-top: 40%;

}

.upbutton{
  margin-top:15%;
}
.upbutton2{
  margin-top:5%;
}
