<ion-content class="no-scroll">

  <div class="mytoolbar">
    <div class="inner_toolbar">
        <ion-searchbar #searchBox id="search-box" (input)="search(searchBox.value)"  color="primary" ></ion-searchbar>
    </div>
  </div>




<div class="globtwo" *ngIf="language">

  <ul class="myhidescrolledtwo" >
    
    <li class="listv" *ngFor="let detail of details;index as i;trackBy: trackByFn;" (click)="detailRoute(detail.id)">
      <div class="leftBlock">

        <div class="level1">{{i+1}}</div>
        <div class="level2">{{ detail.time }} {{language.twentyfour}}</div>
        <div class="level3">{{ detail.date }}</div>

      </div>
      <div class="rightBlock">


        <div class="Rlevel1">
            <div class="RHaad1">

              <div class="RHaad1_child">
                <div class="RHaad1_child1"><ion-icon name="radio-button-off"></ion-icon></div>
                <div class="RHaad1_child2"><ion-icon name="radio-button-on"></ion-icon></div>
                <div class="RHaad1_child3"><ion-icon name="radio-button-on"></ion-icon></div>
                <div class="RHaad1_child4"><ion-icon name="radio-button-on"></ion-icon></div>
                <div class="RHaad1_child5"><ion-icon name="radio-button-off"></ion-icon></div>
              </div>

            </div>

            <div class="RHaad2">
              <div class="RHaad2_ch1">{{detail.fromPoint}}</div>
              <div class="RHaad2_ch2"><hr></div>
              <div class="RHaad2_ch3">{{detail.toPoint}}</div>
            </div>


        </div>
        <div class="Rlevel2">
            <div class="Rlevel2_child1">
              <div class="Rlevel2_child1_child1">{{language.Request}}</div>
              <div class="Rlevel2_child1_child2">{{i+1}}</div>
            </div>
            <div class="Rlevel2_child2">
              <div class="Rlevel2_child1_child1">{{language.Amount}}</div>
              <div class="Rlevel2_child1_child2">{{detail.sum}} $</div>
            </div>
            <div class="Rlevel2_child3">
              <div class="Rlevel2_child1_child1">{{language.Weight}}</div>
              <div class="Rlevel2_child1_child2">{{detail.weight}}</div>
            </div>

        </div>


      </div>
    </li>
  </ul>

</div>


<div class="my_menu">
    <div class="first_icon">
      <i (click)="openMenu()" class="menu_icon material-icons">
        view_module
        </i>
    </div>
</div>

</ion-content>
