ion-content{
  --background: linear-gradient(to right, #e6efff 0%, #b3cfff 100%);
}

.hidecitylist{
    margin-left: 5%;
    margin-right: 5%;
    padding:0px;
    background-color: #b3e0ff;
}
.hidecitylistto{
    margin-left: 5%;
    margin-right: 5%;
    padding:0px;
    background-color: #b3e0ff;
}




.example-full-width {
  width: 100%;
}

.mn5{
  margin-top:4%;
}
